body {
  background-color: white;
}
.highscore-header {
  font-size: 3em;
  color: #20a899;
  padding: 2rem 0;
}
.highscore-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../assets/Artwork_rocket.svg') 5rem top no-repeat;
  width: inherit;
  margin-top: 2rem;
  justify-content: center;
}
.highscore {
  border: 1px solid black;
  width: 25rem;
  list-style-type: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
  margin-bottom: 8rem;
  min-height: 816px;
}
.highscore__heading {
  font-size: 1.4em;
  align-self: flex-end;
  padding-top: 1rem;
}
.highscore__no-winner {
  margin-bottom: auto;
  font-size: 2em;
}
.highscore ul {
  width: 100%;
}
.highscore ul li {
  font-size: 1.2em;
  display: flex;
  justify-content: flex-start;
  width: 99%;
  border-bottom: 2px solid #a3a3a3;
  padding: 1rem 0;
  align-items: center;
}
.highscore ul li:last-child {
  border: none;
}
.leader {
  background-color: #e8ea8b;
  border-radius: 60%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}
.name {
  text-transform: capitalize;
}
.moves {
  margin-left: auto;
  margin-right: 1rem;
}
@media only screen and (max-width: 800px) {
  .highscore-page {
    background: url('../assets/Artwork_rocket.svg') -6rem top no-repeat;
  }
}
@media only screen and (max-width: 500px) {
  .highscore {
    width: 19rem;
  }
  .highscore-page {
    background: url('../assets/Artwork_rocket.svg') -5rem -1rem no-repeat;
    background-size: 45%;
    margin-top: 0;
  }
}
