* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 1200px;
}
.wrapper {
    display: flex;
   
    width: 100%;
    flex-direction: column;
}

.game {
    display: none;
}

.game--board {
    /*position: absolute;
    top: 8rem;
    left: 50%;
    transform: translate(-50%);
    height: 340px;
    width: 386px;*/
    background-color: #9CE2DB;
    border: 1px solid black;
    padding: 1rem;
}

.enter-names {
    display: none;
}

.slot {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.3rem;
}

.slot--pink {
    background: linear-gradient(180deg, #ffffff 6.25%, #f4a5b8 44.27%);
    border: 6px solid #ec9eb1;
}

.slot--yellow {
    background: linear-gradient(180deg, #ffffff 6.25%, #e8ea8b 44.27%);
    border: 6px solid #e8ea8b;
}

.reset {
    /*position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%);*/
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}




.select-game {
    background:#9CE2DB;
    height: 936px;
    display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Montserrat', sans-serif;

}
.select-game-title {
 
    font-weight: bold;
    font-size: 72px;
    color: #20A899;
    text-align: center;
    margin-bottom: 4rem;
}
.navbar {
    width: 100%;
    height: 6.875rem;
    background:limegreen;
}
.twoPlayerBtn {
    width: 19.188rem;
    height: 15.625rem;
    border-radius: 30px;
    border:none;
    background: #EC9EB1;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    word-wrap: break-word;
   
}
#playerCPUBtn {
    width: 19.188rem;
    height: 15.625rem;
    border-radius: 30px;
    border:none;
    background: #E8EA8B;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 6rem;
    font-size: 28px;
    word-wrap: break-word;
    
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}