* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    max-width: 1400px;
}

.home__wrapper {
    background-color: #9CE2DB;
   

   
}
header {
   
    height: 80px;
    background-color: #C8E0C0;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    
   
}
.header__home a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
}

.navbar {
display: flex;
gap: 2rem;
padding-top: 5px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
}
.home__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__h1 {
    font-size: 84px;
     font-family: 'Montserrat', sans-serif;
     color: #42c3b5;
     padding: 120px;
}

.play__now {
    width: 307px;
    height: 80px;
    border-radius: 30px;
    background-color: #e8ea8b;
  border: none;
}

.play__now a {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}

.game {
    display: none;
}

.game--board {
    /*position: absolute;
    top: 8rem;
    left: 50%;
    transform: translate(-50%);
    height: 340px;
    width: 386px;*/
    background-color: #9CE2DB;
    border: 1px solid black;
    padding: 1rem;
}

.enter-names {
    display: none;
}

.slot {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.3rem;
}

.slot--pink {
    background: linear-gradient(180deg, #ffffff 6.25%, #f4a5b8 44.27%);
    border: 6px solid #ec9eb1;
}

.slot--yellow {
    background: linear-gradient(180deg, #ffffff 6.25%, #e8ea8b 44.27%);
    border: 6px solid #e8ea8b;
}

.reset {
    /*position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%);*/
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}

.restart {
    /*position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%);*/
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}