* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
}
.game {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%);
  height: 340px;
  width: 386px;
  background-color: blue;
  border: 1px solid black;
  padding: 1rem;
}
.slot {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.3rem;
}
.slot--pink {
  background: linear-gradient(180deg, #ffffff 6.25%, #f4a5b8 44.27%);
  border: 6px solid #ec9eb1;
}
.slot--yellow {
  background: linear-gradient(180deg, #ffffff 6.25%, #e8ea8b 44.27%);
  border: 6px solid #e8ea8b;
}
.reset {
  position: absolute;
  top: 95vh;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid black;
  width: 5rem;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
