@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
.winner-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9ce2db;
  padding-top: 4rem;
  visibility: hidden;
}
.winner {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/assets/Artwork_person.svg) left top no-repeat,
    url(/assets/Artwork_rocket.svg) right bottom no-repeat;
  background-size: 30%;
  padding: 0rem 0;
  max-width: 80vw;
  width: 80vw;
  max-height: 55vh;
  height: 55vh;
}
.winner--heading {
  font-size: 2.2em;
  padding: 4rem 0 2rem;
}
.winner--name {
  font-size: 1.8em;
  padding-bottom: 4rem;
}
.winner--heading,
.winner--name {
  color: #20a899;
  text-shadow: 2px 2px 0px #9ce2db;
}
.player-turn, .winner--name {
  text-transform: capitalize;
}
.winner-overlay .btn {
  font-size: 1.5em;
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 2px 4px #63b1a9;
  width: 12rem;
  margin-bottom: 3rem;
  outline: none;
}
.btn--pink {
  background-color: #ec9eb1;
}
.btn--yellow {
  background-color: #e8ea8b;
}
.game {
  display: none;
}